In [30]:
import pandas as pd

In [31]:
data=pd.read_csv('VENTAS_FACTURAS.csv')
data

,Nro de factura,Fecha de factura,ID Cliente,Pais,Cantidad,Monto,Mes,Año
0,548370,2021-03-30 16:14:00,15528.0,United Kingdom,123,"229,33",3,2021
1,575767,2021-11-11 11:11:00,17348.0,United Kingdom,163,"209,73",11,2021
2,570727,2021-10-12 11:32:00,12471.0,Germany,-1,"-1,45",10,2021
3,549106,2021-04-06 12:08:00,17045.0,United Kingdom,1,"39,95",4,2021
4,573112,2021-10-27 15:33:00,16416.0,United Kingdom,357,"344,83",10,2021
...,...,...,...,...,...,...,...,...
25895,556518,2021-06-13 10:53:00,16794.0,United Kingdom,-2,"-12,70",6,2021
25896,553060,2021-05-13 10:44:00,15826.0,United Kingdom,488,"720,00",5,2021
25897,577049,2021-11-17 13:58:00,17397.0,United Kingdom,104,"298,78",11,2021
25898,550122,2021-04-14 12:39:00,12931.0,United Kingdom,1176,"1488,00",4,2021
25899,537999,2020-12-09 11:44:00,NaN,United Kingdom,-223,"0,00",12,2020

In [32]:
#Encuentra el país con el menor monto en el año 2020.
data['Monto']=data['Monto'].str.replace(',', '').astype(float)
data.dtypes

Nro de factura        int64
Fecha de factura     object
ID Cliente          float64
Pais                 object
Cantidad              int64
Monto               float64
Mes                   int64
Año                   int64
dtype: object

In [33]:
data2020= data[data['Año']==2020]
data2020

,Nro de factura,Fecha de factura,ID Cliente,Pais,Cantidad,Monto,Mes,Año
6,538125,2020-12-09 15:46:00,18225.0,United Kingdom,16,3000.0,12,2020
11,539736,2020-12-21 15:18:00,NaN,United Kingdom,143,117246.0,12,2020
12,537823,2020-12-08 14:25:00,NaN,United Kingdom,1484,607371.0,12,2020
30,537026,2020-12-03 16:35:00,12395.0,Belgium,528,34610.0,12,2020
40,539049,2020-12-15 16:21:00,15615.0,United Kingdom,364,104864.0,12,2020
...,...,...,...,...,...,...,...,...
25831,538679,2020-12-13 17:03:00,16455.0,United Kingdom,52,15068.0,12,2020
25835,537139,2020-12-05 12:47:00,17026.0,United Kingdom,25,3315.0,12,2020
25853,539444,2020-12-17 15:52:00,14146.0,United Kingdom,551,124143.0,12,2020
25877,539300,2020-12-16 17:31:00,NaN,United Kingdom,38,7259.0,12,2020
25899,537999,2020-12-09 11:44:00,NaN,United Kingdom,-223,0.0,12,2020

In [34]:
data_pais = data2020.groupby('Pais').sum()
data_pais

,Nro de factura,Fecha de factura,ID Cliente,Cantidad,Monto,Mes,Año
Pais,,,,,,,
Australia,2152207,2020-12-14 11:12:002020-12-17 14:10:002020-12-...,49682.0,454,100510.0,48,8080
Austria,1078301,2020-12-17 09:38:002020-12-15 11:39:00,25235.0,3,25704.0,24,4040
Bahrain,539500,2020-12-20 11:02:00,0.0,54,20574.0,12,2020
Belgium,2695380,2020-12-03 16:35:002020-12-22 14:28:002020-12-...,62013.0,1755,180991.0,60,10100
Channel Islands,538002,2020-12-09 11:48:00,14932.0,80,36353.0,12,2020
Cyprus,538826,2020-12-14 12:58:00,12370.0,917,159082.0,12,2020
Denmark,538003,2020-12-09 12:05:00,12429.0,454,128150.0,12,2020
EIRE,11841452,2020-12-09 12:17:002020-12-23 14:58:002020-12-...,280904.0,5381,902995.0,264,44440
Finland,539318,2020-12-16 19:09:00,12348.0,1254,89280.0,12,2020
France,12921564,2020-12-21 11:00:002020-12-01 08:45:002020-12-...,303169.0,4978,957536.0,288,48480
Germany,23147321,2020-12-03 10:44:002020-12-05 14:19:002020-12-...,542637.0,6723,1456284.0,516,86860
Iceland,537626,2020-12-07 14:57:00,12347.0,319,71179.0,12,2020
Israel,539037,2020-12-15 14:42:00,12666.0,-56,-22744.0,12,2020
Italy,1614006,2020-12-21 15:43:002020-12-03 15:45:002020-12-...,37826.0,293,79450.0,36,6060
Japan,1613514,2020-12-09 10:44:002020-12-12 11:44:002020-12-...,38271.0,4093,770507.0,36,6060
Lithuania,2149084,2020-12-05 12:02:002020-12-05 12:01:002020-12-...,61328.0,652,166106.0,48,8080
Netherlands,1615625,2020-12-01 11:27:002020-12-21 15:05:002020-12-...,42083.0,6811,878448.0,36,6060
Norway,1074400,2020-12-01 13:24:002020-12-08 16:49:00,24866.0,3582,378712.0,24,4040
Poland,536971,2020-12-03 13:40:00,12779.0,140,24816.0,12,2020
Portugal,4305404,2020-12-06 10:27:002020-12-14 16:24:002020-12-...,102325.0,945,238012.0,96,16160
Spain,2152915,2020-12-17 11:23:002020-12-13 09:39:002020-12-...,54745.0,867,184373.0,48,8080
Sweden,1617033,2020-12-17 10:54:002020-12-14 13:28:002020-12-...,52212.0,3714,264630.0,36,6060
Switzerland,1076346,2020-12-20 09:37:002020-12-03 10:36:00,25897.0,714,130492.0,24,4040
United Kingdom,1014325103,2020-12-09 15:46:002020-12-21 15:18:002020-12-...,24550525.0,298089,67670356.0,22620,3807700

In [35]:
data_pais['Monto'].idxmin()

'Israel'

In [36]:
#Agrupa los datos por mes y calcula el total de una columna para cada mes.

In [37]:
data_mes = data.groupby('Mes').sum()
data_mes['Mes' and 'Monto']

Mes
1      55747703.0
2      49459654.0
3      66584263.0
4      49111770.0
5      72154930.0
6      69092489.0
7      68059881.0
8      68226929.0
9     101623832.0
10    107004557.0
11    146166921.0
12    118258597.0
Name: Monto, dtype: float64

In [72]:
#Convierte la columna de fechas a objetos de fecha y encuentra el día con el mayor número de eventos.
data['Fecha de factura']=pd.to_datetime(data['Fecha de factura'])
data['Dia']= data['Fecha de factura'].dt.day.astype('int64')
data['Fecha de factura'] = data['Fecha de factura'].astype(str)
data_day = data.groupby('Dia')['Monto'].sum()
data_day.idxmax() , data_day.max()

(7, 44764282.0)

In [4]:
#Identifica y maneja los valores nulos de una columna específica.

In [5]:
#Crea un histograma que muestre la distribución de una columna con intervalos personalizados.

In [6]:
#Divide el conjunto de datos en conjuntos de entrenamiento (80%) y prueba (20%).

In [7]:
#Utiliza un gráfico de líneas para visualizar las tendencias temporales de una serie de tiempo específica.

In [8]:
#Realiza un conteo de las categorías únicas en una columna categórica y visualiza los resultados.

In [9]:
#Compara dos conjuntos de datos basándote en una columna clave compartida y extrae las diferencias.

In [10]:
#Calcula la matriz de correlación y visualiza las relaciones entre las variables numéricas del conjunto de datos.

In [11]:
#Crea una función personalizada para realizar una operación específica en una columna y aplícala al conjunto de datos.

In [12]:
#Utiliza un boxplot para identificar y visualizar la distribución de una variable numérica en diferentes categorías.

In [13]:
#Selecciona aleatoriamente el 10% de las filas del conjunto de datos.

In [14]:
#Utiliza un gráfico de densidad para analizar la distribución de probabilidad de una variable continua.

In [15]:
#Normaliza una columna numérica para que los valores estén en el rango [0, 1].

In [16]:
#Utiliza expresiones regulares para identificar patrones específicos en una columna de texto.

In [17]:
#Crea dos gráficos diferentes para visualizar la misma información y elige el más efectivo.

In [18]:
#Realiza un análisis de varianza (ANOVA) para comparar las medias de una variable numérica entre diferentes grupos.

In [19]:
#Convierte variables categóricas en variables dummy para su uso en modelos de machine learning.

In [20]:
#Utiliza un boxplot para identificar outliers en una variable numérica.

In [21]:
#Calcula estadísticas descriptivas (media, mediana, desviación estándar) para una variable agrupada por otra.

In [22]:
#Realiza un análisis de regresión simple entre dos variables y visualiza la línea de regresión.

In [23]:
#Compara dos conjuntos de datos temporales y visualiza las diferencias en un gráfico.

In [24]:
#Si hay datos de texto, realiza un análisis de frecuencia de palabras y visualiza las palabras más comunes.

In [25]:
#Utiliza la estimación de densidad kernel para visualizar la distribución de una variable continua.

In [26]:
#Crea un histograma apilado para comparar la distribución de dos variables numéricas.

In [27]:
#Realiza un análisis de regresión múltiple utilizando al menos tres variables predictoras.

In [28]:
#Calcula y visualiza las proporciones de diferentes categorías en una columna categórica.

In [29]:
#Utiliza un gráfico de violín para comparar las distribuciones de dos variables numéricas.